body{
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  header{
    margin: 50px;
    font-family:fantasy;
  }
  
  h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
  }
  
  .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .contenedor ol {
      padding-left: 0;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
  }
    
  
    .contenedor li {
      list-style-type: none;
      margin-bottom: 10px;
    }
  
    .contenedor .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 20px;
    }
  
    p{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
  }
  
  img{
    width: 80%; 
    height: 80%;
  }
  
  
  
  